
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import './node_modules/bootstrap/scss/bootstrap';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.list{
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	.list-item{
		background-color: green;
		width: 24%;
		min-height: 30px;
		margin: 5px;
		padding: 4px 10px;
		color: #FFF;
		font-size: 12px;
		&:hover{
			background-color: red;
		}		
	}	

}

